html,body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    padding-top: 75px;
    min-width: 1280px;
}

[v-cloak] {
  display: none;
}

label {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.bgYellow {
    background-color: #FCF8E3;
}

.bgGreen {
    background-color: #DFF0D8;
}

.login-container, .register-container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    height: 300px;
    width: 300px;
}

/* canlendar */

.bill-canlendar-title {
    display: block;
    height: 35px;
    line-height: 35px;
    font-size: 24px;
    text-align: center;
}
.bill-canlendar-cell {
    cursor: pointer;
    height: 30px;
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
}
.bill-canlendar-cell-selected {
    background-color: lightblue;
}